<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zt.capacity.changsha_yunshu" >

<application>

        <!--&lt;!&ndash;主界面&ndash;&gt;-->
        <activity
            android:name="com.zt.capacity.changsha_yunshu.activity.MainActivity"
            android:screenOrientation="portrait"></activity>
        <!--&lt;!&ndash;通用webactivity界面&ndash;&gt;-->
        <activity
            android:name="com.zt.capacity.changsha_yunshu.activity.WebViewActivity"
            android:screenOrientation="portrait"></activity>

</application>

</manifest>
